body {
    background: url(../images/back.jpg) no-repeat;
    background-size: cover;
    font-size: medium;
}

.language-icon {
    max-height: 20px;
}

.login-form {
    margin-top: 240px;
}

textarea.chat-area[disabled] {
    background-color: #abaaaa;
    color: #e6e6e6;
}

a[data-toggle='popover'] {
    color: #bbae9e;
    text-decoration: none;
}