body {
    background: url(../images/back.jpg) no-repeat;
    background-size: cover;
    font-family: 'Arial', serif;
    font-size: medium;
}

.language-icon {
    max-height: 20px;
}

.welcome-message {
    margin-top: 15px;
}

.drivers-image {
    margin-top: 20px;
}

.login-form {
    margin-top: 240px;
}

textarea.chat-area[disabled] {
    background-color: #abaaaa;
    color: #e6e6e6;
}

.hover-link {
    color: #bbae9e;
}